.header-container {
  background-color: #333;
  padding: 1% 0;
  color: #fff;
  position: sticky;
  top: 0px;
}

.ul {
  list-style-type: none;
  margin: 1%;
  padding: 0.05%;
}

.link {
  display: inline;
  margin-right: 10%;
}

.text {
  color: white;
  text-decoration: none;
}

.text:hover {
  color: yellow;
}

.info-outer-container {
  position: relative;
  display: inline-block;
}

.info-container {}

#image {
  max-width: 100%;
  z-index: -1;
  height: auto;
  margin-left: 9%;
}

.intro-section {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1% 2%;
  width: 65%;
}

.intro-header {
  color: white;
  font-size: 150%;
  text-align: center;
}

.intro-information {
  color: white;
  font-size: 130%;
  text-align: center;
}

#dropdown {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .about-me-outer-container {
  position: fixed;
  background-color: black;
  bottom: 0;
  padding: 10px 0;
} */