.header-text {
  font: 5px;
}
.box-list-outer-container {
}
.box-list-container {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  z-index: -1;
}
.box-list {
  margin-left: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
#list-text {
  display: flex;
  flex-direction: column;
}
